
.download-mgmt-wrapper {
	@include breakpoint(tabletLandscape) {
		padding-bottom: 0;
	}
	& > .row {
		margin: 0;
		@include breakpoint(tabletLandscape) {
			flex-direction: column;
		}
		& > div {
			@include breakpoint(tabletLandscape) {
		    flex-basis: 100%;
		    max-width: 100%;
			}
		}
	}
	.downloads-container {
		padding-left: 7.5%;
		padding-right: 60px;
		@include breakpoint(tabletLandscape) {
	    padding: 0 7.5%;
		}
		.title {
			font-family: $avenirNext_Bold;
			color: $blue;
			font-size: 22px;
			margin-bottom: 30px;
			@include breakpoint(mobile) {
				font-size: 20px;
			}
		}
		.downloads-wrapper {
			display: flex;
			align-items: center;
			text-decoration: none;
			border-bottom: 1px solid #707070;
	    padding: 15px 0;
			p {
				margin: 0 0 0 15px;
				font-family: $avenirNext_Demi;
				color: #171717;
				font-size: 14px;
			}
			&:hover {
				p {
					color: $blue;
				}
				.dl-sprite {
					background-color: $dark_blue;
					border-color: $dark_blue;
					&::before {
						background-position-y: -20px;
					}
				}
			}
		}
	}
	.mgmt-wrapper {
		padding-right: 0;
		@include breakpoint(tabletLandscape) {
			padding: 0;
		}
		img {
			width: 100%;
			height: auto;
			@include breakpoint(tabletLandscape) {
				height: 40vw;
				object-fit: cover;
			}
		}
		.mgmt-link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			.title {
				position: absolute;
				font-size: 22px;
				font-family: $avenirNext_Bold;
				color: #FFF;
			}
		}
	}
	.dl-sprite {
		min-width: 40px;
		max-width: 40px;
		min-height: 40px;
		max-height: 40px;
		border-radius: 50%;
		border: 1px solid #707070;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: '';
			background: url('assets/images/gov-dl.png') no-repeat;
			display: inline-block;
			background-size: 115px;
		}
		&.file-1 {
			&::before {
				width: 20px;
				height: 19px;
				background-position: -76px 0px;
			}
		}
		&.file-2 {
			&::before {
		    width: 19px;
		    height: 19px;
		    background-position: -56px 0px;
			}
		}
		&.file-3 {
			&::before {
		    width: 19px;
		    height: 23px;
		    background-position: 1px 0;
			}
		}
		&.file-4 {
			&::before {
				width: 19px;
				height: 19px;
				background-position: -96px 0;
			}
		}
		&.file-5 {
			&::before {
		    width: 20px;
		    height: 19px;
		    background-position: -18px 0;
			}
		}
		&.file-6 {
			&::before {
				width: 18.5px;
				height: 19px;
				background-position: -38px 0;
			}
		}
	}
}

.board-committees-accordion {
	.accordion-chevron-wrapper {
		border: 0;
		.card-header {
			background-color: transparent;
			padding: 0;
			border: 0;
			button {
				display: flex;
		    align-items: center;
		    justify-content: space-between;
		    width: 100%;
		    color: #000;
		    font-family: $avenirNext_Demi;
	    	text-decoration: none;
	    	outline: 0;
	    	box-shadow: none;
	    	padding: 10px 0;
	    	font-size: 18px;
	    	color: $dark_blue;
			}
		}
		.card-body {
			font-family: $avenirNext_Regular;
	    color: #8a8a8a;
	    td {
		    color: #8a8a8a;
		    font-size: 14px;
	    }
			p,li {
				font-family: $avenirNext_Regular;
		    font-size: 14px;
			}
			strong {
			  font-family: $avenirNext_Demi;
			  color: #8a8a8a;
			  display: block;
			}
		}
	}
}

.page-id-376 {
	.wp-block-group__inner-container {
		margin-bottom: 30px;
		p {
			margin: 0 0 2px;
			a {
				color: #000;
			}
		}
	}
}